<div class="container">
    <h3><%= @event.event_name %> details:</h3>
</div>

<br>

<div class="container">
        <div class="float-sm-left">
            <p><strong>Date: </strong><%= @event.event_date %><p>
            <p><strong>Ticket Price: </strong><%= @event.ticket_price %><p>
            <p><strong>Minimum required age: </strong><%= @event.minimum_age %>
            <p><strong>Number of guests: </strong><%= @event.number_of_guests %>
            

            <p><%= link_to "all events", property_events_path(@event) %> |
            <%= link_to "edit event", edit_property_event_path(@event.property, @event) if @event.property %> |</p><br>
            <%= button_to "Delete", property_event_path(@event.property, @event), :method => 'delete', :class => "btn btn-info" %><br>
            <p><%= link_to "Add a Comment", new_event_comment_path(@event) %></p><br>

            <% @event.comments.each do |c| %>
                <div class="card" style="width:300px">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <b><%= c.user.fullname %>: <%= c.content %>
                            
                            <% if current_user && current_user == c.user %>
                                <%= button_to "delete", event_comment_path(c.event, c), :method => :delete, remote: true, style: 'float:right' %>
                            <% end %>
                        </li>
                    </ul>
                </div>
            <% end %>
        </div>
</div>